* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f8f4ea;
}

body {
  background-color: #f8f4ea !important;
}

.input-group {
  background-color: #fff;
  width: 50% !important;
  margin: 80px auto;
}

.result-container {
  width: 25% !important;
  margin: 0 auto;
}
